{% extends 'dashboard/student/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable" class="table table-striped" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time </th>
                            <th>Subject</th>
                            <th>Zoom Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in links %}
                        <tr>
                            <td>{{i.date}}</td>
                            <td>{{i.time}}</td>
                            <td>{{i.cls}}</td>
                            <td>
                                <a target="_blank" href="{{i.zoom_link}}">{{i.zoom_link}}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
{% endblock %}

{% block script %}
<script>
$('#date').change(function(){
    $csrf = $('[name="csrfmiddlewaretoken"]').val();
    $.ajax({
      type: "POST",
      url: "get-teacher-subject",
      data: {
        date: this.value,
        csrfmiddlewaretoken: $csrf
      },
      success: function(data) {
        var time = eval('(' + data + ')');
        options = "<option value='' selected disabled>-- Please Select --</option>"
        if (time.length == 0) {
            alert('You are not assigned to any class on selected date');
        }
        for (var i = 0; i < time.length; i++ ){
            options += "<option value="+time[i]['id']+">"+time[i]['subject']+" ("+time[i]['time']+")</option>";
        }
        $("#time").html(options);
      },
      error:function(e){
          alert("something wrong "+ e) // this will alert an error
      }
    });
});
</script>
{% endblock %}