{% extends 'dashboard/student/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <table id="datatable" class="table table-striped text-center"  style="width:100%;">
                        <thead>
                            <tr>
                                <th>اليوم</th>
                                <th>التوقيت</th>
                                <th>حُدد بواسطه..</th>
                                <th>حُدد في</th>
                                <th>الحالة</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in att %}
                            <tr class="text-right">
                                <td>{{i.date}}</td>
                                <td>{{i.time}}</td>
                                <td>{{i.teacher}}</td>
                                <td>{{i.marked_on}}</td>
                                <td>{{i.status}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}