<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static '/assets/front/images/Mainlogo.png' %}">
    <meta name="description" content="">
    <meta name="author" content="Najwa">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>منصة ضاد_لتحفيظ القرآن الكريم</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/front/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/front/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/front/css/templatemo-softy-pinko.css' %}">

    </head>
    
    <body>
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">

                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">

<!--                            <li><a href="#pricing-plans">Pricing Tables</a></li>-->

                            <li><a href="#contact-us">تواصل معنا</a></li>
                            <li><a href="#testimonials">آراء طالباتنا</a></li>
                            <li><a href="#work-process">طريقة عملنا</a></li>
                            <li><a href="#features">عنا</a></li>
                            <li><a href="#welcome" class="active">الصفحة الرئسية</a></li>
                            <li><a href="/login" class="main-button text-white" style="padding: 0px 15px;">دخول</a></li>

                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->

                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">

                            <img src="{% static 'assets/front/images/Mainlogo.png' %}" alt="MinasatDhaad"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome" style="background-image: url(/media/{{f.img}});">
        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>مرحبا بكم في منصة  <strong>ضاد</strong></h1>
                        <h1>ابدأ معنا رحلة التلاوة والحفظ والتعلم الان</h1>
                        <a href="#features" class="main-button-slider">اكتشف المزيد</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- ***** Header Text End ***** -->
    </div>

    <!-- ***** Welcome Area End ***** -->

     <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-10">
        <div class="container">
            <div class="row" >
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">من نحن وماهي غايتنا</h2>
                    </div>
                    <div class="left-text">
                        <p> منصة الكترونية تعليمية و تربوية لتحفيظ وتدريس مناهج القرآن الكريم وعلومه ومناهج التربية الاسلامية عن بعد بشكل تفاعلي وممتع</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="{% static 'assets/front/images/right-img.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
              <div class="row">
                <div class="col-lg-12">

                </div>
            </div>

        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->
<div class="margin-bottom-50" ></div>
    <!-- ***** Features Big Item Start ***** -->
<!--    <section class="section" id="features" >-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">-->
<!--                    <img src="{% static 'assets/front/images/left-image1.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">-->
<!--                </div>-->
<!--                <div class="col-lg-1"></div>-->
<!--                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">-->
<!--                    <div class="left-heading">-->
<!--                        <h2 class="section-title"> من نحن وماهي غايتنا</h2>-->
<!--                    </div>-->
<!--                    <div class="left-text">-->
<!--                        <p>منصة الكترونية تعليمية و تربوية لتحفيظ وتدريس مناهج-->
<!--القرآن الكريم وعلومه ومناهج التربية الاسلامية عن بعد بشكل تفاعلي وممتع</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </section>-->
    <!-- ***** Features Big Item End ***** -->




    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1> أنواع الحلقات</h1>
                            <p >نسعى لتسهيل الحفظ وتلاوة القرآن الكريم تلاوة صحيحة خالية من الأخطاء عن طريق تقديم حلقات متنوعة لمستويات مختلفة</p>
                        </div>
                    </div>
                </div>

                <!-- ***** Mini Box Start ***** -->

                <div class="row justify-content-center">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <div >
<!--                            <i><img src="{% static 'assets/front/images/work-process-item-01.jpg' %}" alt=""></i>-->
                            <strong class="mini-box"> تجويد</strong>
<!--                            <span>Godard pabst prism fam cliche.</span>-->
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <div>
<!--                            <i><img src="{% static 'assets/front/images/work-process-item-01.jpg' %}" alt=""></i>-->
                            <strong class="mini-box"> تحفيظ</strong>
<!--                            <span>Godard pabst prism fam cliche.</span>-->
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <div>
<!--                            <i><img src="{% static 'assets/front/images/work-process-item-01.jpg' %}" alt=""></i>-->
                            <strong class="mini-box">تسميع</strong>
<!--                            <span>Godard pabst prism fam cliche.</span>-->
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <div>
<!--                            <i><img src="{% static 'assets/front/images/work-process-item-01.jpg' %}" alt=""></i>-->
                            <strong class="mini-box">مراجعة</strong>
<!--                            <span>Godard pabst prism fam cliche.</span>-->
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <div>
<!--                            <i><img src="{% static 'assets/front/images/work-process-item-01.jpg' %}" alt=""></i>-->
                            <strong class="mini-box">شرح الأربعين نوية</strong>
<!--                            <span>Godard pabst prism fam cliche.</span>-->
                        </div>
                    </div>

                </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Home Parallax End ***** -->

    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading padding-top-20">
                        <h2 class="section-title" >آراء طالباتنا</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->


            <div class="row">

                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" >
                    <div class="team-item" >
                        <div class="team-content">
                            <i><img src="{% static 'assets/front/images/testimonial-icon.jpg' %}" alt=""></i>
                            <p>كنت مع الاستاذة سلوى في حلقات كثير اخرها على خطى القراء قبل حلقة اقرء وارتق الان ...استفدت من الحلقة كثير جدا واتغير مستواي للافضل بفضل الله عز وجل ثم بجهود المعلمة سلوى التي كانت نعم المعلمة ونعم الرفيقة لي جزاها الله خير الجزاء عني والحقيقة أ.سلوى معلمة مخلصة في عملها وفيه لطالباتها تسعى للوصول بهن لاعلى مراتب العلم  زادها الله من فضله ورزقها ما تتمنى </p>
                            <div class="user-image">
<!--                                <img src="http://placehold.it/60x60" alt="">-->
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">سعاد عبد الرحمن</h3>
                                <span>طالبة في المنصة</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item" style="height:93%">
                        <div class="team-content">
                            <i><img src="{% static 'assets/front/images/testimonial-icon.jpg' %}" alt=""></i>
                            <p>منصة ضاد لتلاوة القرآن الكريم تعين الطالبة لقراءة القرآن بطريقة صحيحة منضبطة بالأحكام التجويدية التي تُدَرَّس أيضاً و الحفظ بأسلوب سهل و سلس من دون ضغط بالإضافة لبرنامج مراجعة يومي حتى يتثنى للطالبة التثبيت.</p>
                            <div class="user-image">
<!--                                <img src="http://placehold.it/60x60" alt="">-->
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">أشواق عبدالله</h3>
                                <span>طالبة في المنصة</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item" style="height:93%">
                        <div class="team-content">
                            <i><img src="{% static 'assets/front/images/testimonial-icon.jpg' %}" alt=""></i>
                            <p>المعلمه سلوى تبارك الله من خيرة المعلمات
اسلوبها في التدريس متنوع ومحفز
وتبسط وصوول المعلومة وتكررها لنا بكل طيب نفس
معلمه مجتهدة ومثابرة
وحريصة على تشجيعنا الدائم للاستمرار والتقدم للأمام
اسأل الله ان يبارك لها بعلمها ويزيدها من فضله وعلمه
وربي يكثر من امثالها</p>
                            <div class="user-image">
<!--                                <img src="http://placehold.it/60x60" alt="">-->
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">فاطمة الكعبي</h3>
                                <span>طالبة في المنصة</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                  <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item" style="height:93%">
                        <div class="team-content">
                            <i><img src="{% static 'assets/front/images/testimonial-icon.jpg' %}" alt=""></i>
                            <p>السلام عليكم .. المنصه جميلة وفيها من الفائده الكثيير التعاون بين الطالبات رائع اشكر جميع القائمين على جهودهم وأتمنى لهم المزيد من النجاح والتطورر
</p>
                            <div class="user-image">
<!--                                <img src="http://placehold.it/60x60" alt="">-->
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">أماني عمر</h3>
                                <span>طالبة في المنصة</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                  <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item" style="height:93%">
                        <div class="team-content">
                            <i><img src="{% static 'assets/front/images/testimonial-icon.jpg' %}" alt=""></i>
                            <p>من أجمل المنصات في القران من ناحية المعلمات و النظام والتوقيت جزاكم الله كل خير</p>
                            <div class="user-image">
<!--                                <img src="http://placehold.it/60x60" alt="">-->
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">أمل عمر</h3>
                                <span> طالبة في المنصة</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->


            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->

    <!-- ***** Counter Parallax Start ***** -->
    <section class="counter">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>{{f.num1}}</strong>
                            <span>حلقات</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <strong>{{f.num2}}</strong>
                            <span>مدرسين</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>{{f.num3}}</strong>
                            <span>الطالبات</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>{{f.num4}}</strong>
                            <span>المتخرجات</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->   


    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">تواصل معنا</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>إذا كان لديكم سؤال أو استفسار, يرجى إرساله عبر البريد الإلكترني</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">ابق على تواصل</h5>
                    <div class="contact-text">
                        <h5>ساعات العمل</h5>
                        <p>من الأحد إلى الخميس
                        <br>5am-6pm
                        </p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="/send-email" enctype="multipart/form-data" method="POST">
                          {% csrf_token %}
                            <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="أدخل اسمك الثلاثي" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="أدخل بريدك الإلكتروني" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="أدخل رسالتك" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">إرسال</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
<!--            <div class="row">-->
<!--                <div class="col-lg-12 col-md-12 col-sm-12">-->
<!--                    <ul class="social">-->
<!--                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-paper-plane-o"></i></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">كل الحقوق محفوظة لضاد , &copy;2022 <br><small>تم تظوير المنصة من قبل GoWebKart </small></p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="{% static 'assets/front/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/front/js/popper.js' %}"></script>
    <script src="{% static 'assets/front/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/front/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/front/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/front/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/front/js/imgfix.min.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'assets/front/js/custom.js' %}"></script>
    <script>
      {% if messages %}
      {% for i in messages %}
      alert('{{i}}');
      {% endfor %}
      {% endif %}
    </script>
  </body>
</html>