{% extends 'dashboard/teacher/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table border="1" style="width: 100%;" class="table table-striped">
                            <thead>
                                <tr class="text-center">

                                    {% for i in time %}
                                    <th scope="row">{{i}}</th>
                                    {% endfor %}
                                    <th scope="row">أيام الأسبوع</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    {% for i in saturday %}
                                        {% if request.user.profile.id == i.teacher.profile.id %}
                                            {% if i.subject %}
                                            <td align='center'>
                                                <strong style='color: green;'>{{i.subject}}</strong>
                                                <br>
                                                <strong>{{i.teacher}}</strong>
                                            </td>
                                            {% else %}
                                                {% if request.user.profile.role == 'teacher' %}
                                                <td></td>
                                                {% else %}
                                                <td align='center'>لا يوجد</td>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                      <th scope="col" class="text-right">السبت</th>
                                </tr>
                                <tr>

                                    {% for i in sunday %}
                                        {% if request.user.profile.id == i.teacher.profile.id %}
                                            {% if i.subject %}
                                            <td align='center'>
                                                <strong style='color: green;'>{{i.subject}}</strong>
                                                <br>
                                                <strong>{{i.teacher}}</strong>
                                            </td>
                                            {% else %}
                                                {% if request.user.profile.role == 'teacher' %}
                                                <td></td>
                                                {% else %}
                                                <td align='center'>لا يوجد</td>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                     <th scope="col" class="text-right">الأحد</th>
                                </tr>
                                <tr>

                                    {% for i in monday %}
                                        {% if request.user.profile.id == i.teacher.profile.id %}
                                            {% if i.subject %}
                                            <td align='center'>
                                                <strong style='color: green;'>{{i.subject}}</strong>
                                                <br>
                                                <strong>{{i.teacher}}</strong>
                                            </td>
                                            {% else %}
                                                {% if request.user.profile.role == 'teacher' %}
                                                <td></td>
                                                {% else %}
                                                <td align='center'>لا يوجد</td>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                     <th scope="col" class="text-right">الأثنين</th>
                                </tr>
                                <tr>
                                    {% for i in tuesday %}
                                        {% if request.user.profile.id == i.teacher.profile.id %}
                                            {% if i.subject %}
                                            <td align='center'>
                                                <strong style='color: green;'>{{i.subject}}</strong>
                                                <br>
                                                <strong>{{i.teacher}}</strong>
                                            </td>
                                            {% else %}
                                                {% if request.user.profile.role == 'teacher' %}
                                                <td></td>
                                                {% else %}
                                                <td align='center'>لا يوجد</td>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                    <th scope="col" class="text-right">الثلاثاء</th>
                                </tr>
                                <tr>
                                    {% for i in wednesday %}
                                        {% if request.user.profile.id == i.teacher.profile.id %}
                                            {% if i.subject %}
                                            <td align='center'>
                                                <strong style='color: green;'>{{i.subject}}</strong>
                                                <br>
                                                <strong>{{i.teacher}}</strong>
                                            </td>
                                            {% else %}
                                                {% if request.user.profile.role == 'teacher' %}
                                                <td></td>
                                                {% else %}
                                                <td align='center'>لا يوجد</td>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                     <th scope="col" class="text-right">الأربعاء</th>
                                </tr>
                                <tr>
                                    {% for i in thursday %}
                                        {% if request.user.profile.id == i.teacher.profile.id %}
                                            {% if i.subject %}
                                            <td align='center'>
                                                <strong style='color: green;'>{{i.subject}}</strong>
                                                <br>
                                                <strong>{{i.teacher}}</strong>
                                            </td>
                                            {% else %}
                                                {% if request.user.profile.role == 'teacher' %}
                                                <td></td>
                                                {% else %}
                                                <td align='center'>لا يوجد</td>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                    <th scope="col" class="text-right">الخميس</th>
                                </tr>
                                <tr>
                                    {% for i in friday %}
                                        {% if request.user.profile.id == i.teacher.profile.id %}
                                            {% if i.subject %}
                                            <td align='center'>
                                                <strong style='color: green;'>{{i.subject}}</strong>
                                                <br>
                                                <strong>{{i.teacher}}</strong>
                                            </td>
                                            {% else %}
                                                {% if request.user.profile.role == 'teacher' %}
                                                <td></td>
                                                {% else %}
                                                <td align='center'>لا يوجد</td>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                      <th scope="col" class="text-right">الجمعة</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}