{% extends 'dashboard/teacher/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12" align="right">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add">Add New</button>
                    </div>
                    <div class="col-md-12">
                        <table id="datatable" class="table table-striped" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Question</th>
                                    <th>Option 1</th>
                                    <th>Option 2</th>
                                    <th>Option 3</th>
                                    <th>Option 4</th>
                                    <th>Score</th>
                                    <th>Answer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in questions %}
                                <tr>
                                    <td>
                                        <a class="btn btn-sm btn-success glyphicon glyphicon-pencil"  data-toggle="modal" data-target="#edit_{{i.id}}"> Edit</a>
                                        <a href="/delete-question/{{i.id}}" class="btn btn-sm btn-danger glyphicon glyphicon-trash"> Delete</a>
                                    </td>
                                    <td>{{i.question}}</td>
                                    <td>{{i.option_1}}</td>
                                    <td>{{i.option_2}}</td>
                                    <td>{{i.option_3}}</td>
                                    <td>{{i.option_4}}</td>
                                    <td>{{i.score}}</td>
                                    <td>{{i.answer}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">تعديل</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <div class="modal-body">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="question">Question</label>
                    <textarea id="question" name="question" class="form-control" required></textarea>

                </div>
                <div class="col-md-6 form-group">
                    <label for="option1">Option1</label>
                    <input type="text" id="option1" name="option1" class="form-control options" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="option2">Option2</label>
                    <input type="text" id="option2" name="option2" class="form-control options" required>
                </div>
                 <div class="col-md-6 form-group">
                    <label for="Option3">Option3</label>
                    <input type="text" id="Option3" name="option3" class="form-control options">
                </div>
                <div class="col-md-6 form-group">
                    <label for="Option4">Option4</label>
                    <input type="text" id="Option4" name="option4" class="form-control options">
                </div>
                <div class="col-md-12 form-group">
                    <label for="answer">Answer</label>
                    <select id="answer" name="answer" class="form-control" required>
                        <option value="" selected disabled>-- Please Select --</option>
                        <option value="" id="option_1" class="d-none"></option>
                        <option value="" id="option_2" class="d-none"></option>
                        <option value="" id="option_3" class="d-none"></option>
                        <option value="" id="option_4" class="d-none"></option>
                    </select>
                </div>
                <div class="col-md-12 form-group">
                    <label for="score">Score</label>
                    <input type="number" id="score" name="score" class="form-control options" required>
                </div>
            </div>
         </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">إرسال</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% for i in questions %}
<div class="modal fade" id="edit_{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">تعديل</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/edit-question/{{i.id}}" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <div class="modal-body">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="edit_question_{{i.id}}">Question</label>
                    <textarea id="edit_question_{{i.id}}" name="question" class="form-control" required>{{i.question}}</textarea>
                </div>
                <div class="col-md-6 form-group">
                    <label for="edit_option1_{{i.id}}">Option1</label>
                    <input type="text" id="edit_option1_{{i.id}}" value="{{i.option_1}}" name="option1" class="form-control" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="edit_option2_{{i.id}}">Option2</label>
                    <input type="text" id="edit_option2_{{i.id}}" value="{{i.option_2}}" name="option2" class="form-control" required>
                </div>
                 <div class="col-md-6 form-group">
                    <label for="edit_option3_{{i.id}}">Option3</label>
                    <input type="text" id="edit_option3_{{i.id}}" value="{{i.option_3}}" name="option3" class="form-control">
                </div>
                <div class="col-md-6 form-group">
                    <label for="edit_option4_{{i.id}}">Option4</label>
                    <input type="text" id="edit_option4_{{i.id}}" value="{{i.option_4}}" name="option4" class="form-control">
                </div>
                <div class="col-md-12 form-group">
                    <label for="edit_answer_{{i.id}}">Answer</label>
                    <select id="edit_answer_{{i.id}}" name="answer" class="form-control" required>
                        <option value="" selected disabled>-- Please Select --</option>
                        <option value="{{i.option_1}}" {% if i.answer == i.option_1 %}selected{% endif %} id="edit_option_1_{{i.id}}">{{i.option_1}}</option>
                        <option value="{{i.option_2}}" {% if i.answer == i.option_2 %}selected{% endif %} id="edit_option_2_{{i.id}}">{{i.option_2}}</option>
                        <option value="{{i.option_3}}" {% if i.answer == i.option_3 %}selected{% endif %} id="edit_option_3_{{i.id}}">{{i.option_3}}</option>
                        <option value="{{i.option_4}}" {% if i.answer == i.option_4 %}selected{% endif %} id="edit_option_4_{{i.id}}">{{i.option_4}}</option>
                    </select>
                </div>
                <div class="col-md-12 form-group">
                    <label for="edit_score_{{i.id}}">Score</label>
                    <input type="number" value="{{i.score}}" id="edit_score_{{i.id}}" name="score" class="form-control options" required>
                </div>
            </div>
         </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">إرسال</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
        </div>
        <input type="hidden" name="quiz" value="{{i.quiz.id}}">
      </form>
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}

{% block script %}
<script>
{% for i in questions %}
    $('#edit_option1_{{i.id}}').focusout(function(){
        $('#edit_option_1_{{i.id}}').val(this.value);
        $('#edit_option_1_{{i.id}}').html(this.value);
    });
    $('#edit_option2_{{i.id}}').focusout(function(){
        $('#edit_option_2_{{i.id}}').val(this.value);
        $('#edit_option_2_{{i.id}}').html(this.value);
    });
    $('#edit_option3_{{i.id}}').focusout(function(){
        $('#edit_option_3_{{i.id}}').val(this.value);
        $('#edit_option_3_{{i.id}}').html(this.value);
    });
    $('#edit_option4_{{i.id}}').focusout(function(){
        $('#edit_option_4_{{i.id}}').val(this.value);
        $('#edit_option_4_{{i.id}}').html(this.value);
    });
{% endfor %}
    $('.options').focusout(function(){
        txt = this.id;
        var num = txt.replace(/[^0-9]/g,'');
        if (num==1){
            $('#option_1').html(this.value)
            $('#option_1').val(this.value)
            $('#option_1').removeClass('d-none')
        }
        if (num==2) {
            $('#option_2').html(this.value)
            $('#option_2').val(this.value)
            $('#option_2').removeClass('d-none')
        }
        if (num==3) {
            $('#option_3').html(this.value)
            $('#option_3').val(this.value)
            $('#option_3').removeClass('d-none')
        }
        if (num==4) {
            $('#option_4').html(this.value)
            $('#option_4').val(this.value)
            $('#option_4').removeClass('d-none')
        }
    });
</script>
{% endblock %}