{% extends 'dashboard/teacher/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <table id="datatable" class="table table-striped" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time </th>
                                <th>Subject</th>
                                <th>Zoom Link</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in links %}
                            <tr>
                                <td>{{i.date}}</td>
                                <td>{{i.time}}</td>
                                <td>{{i.cls}}</td>
                                <td>{{i.zoom_link}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary"  data-toggle="modal" data-target="#edit_{{i.id}}">Edit</button>
                                    <a href="/delete-classLink/{{i.id}}" class="btn btn-sm btn-danger" >Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
{% for i in links %}
<div class="modal fade" id="edit_{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <input type="hidden" name="id" value="{{i.id}}">
         <div class="modal-body">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="date_{{i.id}}">Date</label>
                    <input type="text" value="{{i.date}}" id="date_{{i.id}}" disabled class="form-control">
                </div>
                <div class="col-md-6 form-group">
                    <label for="time_{{i.id}}">Time</label>
                    <input type="text" value="{{i.time}}" id="time_{{i.id}}" disabled class="form-control">
                </div>
                <div class="col-md-12 form-group">
                    <label for="cls_{{i.id}}">Subject</label>
                    <input type="text" value="{{i.cls}}" id="cls_{{i.id}}" disabled class="form-control">
                </div>
                <div class="col-md-12 form-group">
                    <label for="zoom_link{{i.id}}">Link</label>
                    <input type="text" name="zoom_link" value="{{i.zoom_link}}" id="zoom_link{{i.id}}" class="form-control">
                </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}


{% csrf_token %}
{% endblock %}

{% block script %}

{% endblock %}