{% extends 'dashboard/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <h4>{{day}}</h4>
                </div>
				<form class="validate-form" action="/add-time-table" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
                    {% for j in time %}
                    <input type="hidden" name="day" value="{{day}}">
                    <div class="row border-bottom pb-3 pt-3">
                        <div class="col-md-12">
                            <h6>{{j.time}} {{current}}</h6>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="subject_{{j.n}}">Subject <span class="required">*</span></label>
                            <select id="subject_{{j.n}}" name="subject_{{j.n}}" class="form-control select2" required>
                                {% if current.1.n.subject  %}
                                <option value="{{current.0.n.subject.id}}" selected>{{current.j.n.subject.name}}</option>
                                {% else %}
                                <option value="" selected disabled>-- Please Select --</option>
                                {% endif %}
                                {% for i in subjects %}
                                <option value="{{i.id}}">{{i.name}}</option>
                                {% endfor %}
                                <option value="Free">Free</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="teacher_{{j.n}}">Teacher <span class="required">*</span></label>
                            <select id="teacher_{{j.n}}" name="teacher_{{j.n}}" class="form-control select2" required>
                                {% if current.1.n.subject  %}
                                <option value="{{current.0.n.teacher.id}}" selected>{{current.0.n.teacher.name}}</option>
                                {% else %}
                                <option value="" selected disabled>-- Please Select --</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-12 pt-3 form-group">
                        <button type="submit" class="btn btn-success form-control">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
{% for j in time %}
$('#subject_{{j.n}}').change(function(){
    if ( this.value == 'Free' ) {
        $("#teacher_{{j.n}}").removeAttr('required');
    } else {
        $("#teacher_{{j.n}}").attr('required', '');
        $csrf = $('[name="csrfmiddlewaretoken"]').val();
        $.ajax({
          type: "POST",
          url: "get-subject",
          data: {
            id: this.value,
            csrfmiddlewaretoken: $csrf
          },
          success: function(data) {
            var teachers = eval('(' + data + ')');
            options = "<option value='' selected disabled>-- Please Select --</option>"
            for (var i = 0; i < teachers.length; i++ ){
                options += "<option value="+teachers[i].id+">"+teachers[i].name+"</option>";
            }
            $("#teacher_{{j.n}}").html(options);
          },
          error:function(e){
              alert("something wrong "+ e) // this will alert an error
          }
        });
    }
});
{% endfor %}
</script>
{% endblock %}