{% extends 'dashboard/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
				<form class="validate-form" action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="role">Role <span class="required">*</span></label>
                            <select id="role" name="role" class="form-control" required>
                                <option value="" selected disabled>-- Please Select --</option>
                                <option value='student'>Student</option>
                                <option value='teacher'>Teacher</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="username">Username <span class="required">*</span></label>
                            <input type="text" value="" id="username" name="username" class="form-control" readonly>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="password">Password <span class="required">*</span></label>
                            <input type="text" value="" id="password" name="password" class="form-control">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="name1">First Name <span class="required">*</span></label>
                            <input type="text" id="name1" name="name1" class="form-control" required>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="name2">Second Name</label>
                            <input type="text" id="name2" name="name2" class="form-control">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="name3">Third Name</label>
                            <input type="text" id="name3" name="name3" class="form-control">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="name4">Last Name <span class="required">*</span></label>
                            <input type="text" id="name4" name="name4" class="form-control" required>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="address">Address <span class="required">*</span></label>
                            <textarea rows="4" id="address" name="address" class="form-control" required></textarea>
                        </div>
                        <div class="col-md-4 form-group teacher d-none">
                            <label for="experience">Experience <span class="required">*</span></label>
                            <input type="number" name="experience" id="experience" class="form-control teacherinput" min="0">
                        </div>
                        <div class="col-md-4 form-group teacher d-none">
                            <label for="subject">Subject <span class="required">*</span></label>
                            <input type="text" id="subject" name="subject" class="form-control teacherinput">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-success form-control">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $( "#role" ).change(function() {
      if (this.value == 'teacher' ) {
        $(".teacher").removeClass('d-none');
        $('.teacherinput').attr('required', '');
        $('#username').val('staff{{teacher}}')
      } else {
        $(".teacher").addClass('d-none');
        $('.teacherinput').removeAttr('required');
        $('#username').val('student{{student}}')
      }
    });
</script>
{% endblock %}