{% extends 'dashboard/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <h4>{{day}}</h4>
                </div>
				<form class="validate-form" action="/add-time-table" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
                    <input type="hidden" name="day" value="{{day}}">

                    <div class="row border-bottom pb-3 pt-3">
                        <div class="col-md-12">
                            <h6>7:00 - 7:30 {{current.0.subject.id}}</h6>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="subject_1">المادة <span class="required">*</span></label>
                            <select id="subject_1" name="subject_1" class="form-control select2" required>
                                <option value="" selected disabled>-- فضلا اختر--</option>
                                {% for i in subjects %}
                                <option value="{{i.id}}" {% if current.0.subject.id == i.id %}selected{% endif %}>{{i.name}}</option>
                                {% endfor %}
                                {% if current.0.subject == None %}
                                <option value="Free" selected>لا يوجد</option>
                                {% else %}
                                <option value="Free">لا يوجد</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="teacher_1">المعلم/ة <span class="required">*</span></label>
                            {% if current.0.subject == None %}
                            <select id="teacher_1" name="teacher_1" class="form-control select2">
                            {% else %}
                            <select id="teacher_1" name="teacher_1" class="form-control select2" required>
                            {% endif %}
                                {% if current.0.teacher  %}
                                <option value="{{current.0.teacher.id}}" selected>{{current.0.teacher.profile}}</option>
                                {% else %}
                                <option value="" selected disabled>-- فضلا اختر --</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="row border-bottom pb-3 pt-3">
                        <div class="col-md-12">
                            <h6>7:30 - 8:05</h6>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="subject_2">المادة <span class="required">*</span></label>
                            <select id="subject_2" name="subject_2" class="form-control select2" required>
                                <option value="" selected disabled>-- فضلا اختر --</option>
                                {% for i in subjects %}
                                <option value="{{i.id}}" {% if current.1.subject.id == i.id %}selected{% endif %}>{{i.name}}</option>
                                {% endfor %}
                                {% if current.1.subject == None %}
                                <option value="Free" selected>لا يوجد</option>
                                {% else %}
                                <option value="Free">لا يوجد</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="teacher_2">المعلم/ة <span class="required">*</span></label>
                            {% if current.1.subject == None %}
                            <select id="teacher_2" name="teacher_2" class="form-control select2">
                            {% else %}
                            <select id="teacher_2" name="teacher_2" class="form-control select2" required>
                            {% endif %}
                                {% if current.1.teacher  %}
                                <option value="{{current.1.teacher.id}}" selected>{{current.1.teacher.profile}}</option>
                                {% else %}
                                <option value="" selected disabled>--فضلا اختر --</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="row border-bottom pb-3 pt-3">
                        <div class="col-md-12">
                            <h6>8:05 - 8:45</h6>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="subject_3">المادة <span class="required">*</span></label>
                            <select id="subject_3" name="subject_3" class="form-control select2" required>
                                <option value="" selected disabled>-- فضلا اختر--</option>
                                {% for i in subjects %}
                                <option value="{{i.id}}" {% if current.2.subject.id == i.id %}selected{% endif %}>{{i.name}}</option>
                                {% endfor %}
                                {% if current.2.subject == None %}
                                <option value="Free" selected>لا يوجد</option>
                                {% else %}
                                <option value="Free">لا يوجد</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="teacher_3">المعلم/ة <span class="required">*</span></label>
                            {% if current.2.subject == None %}
                            <select id="teacher_3" name="teacher_3" class="form-control select2">
                            {% else %}
                            <select id="teacher_3" name="teacher_3" class="form-control select2" required>
                            {% endif %}
                                {% if current.2.teacher  %}
                                <option value="{{current.2.teacher.id}}" selected>{{current.2.teacher.profile}}</option>
                                {% else %}
                                <option value="" selected disabled>-- فضلا اختر--</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="row border-bottom pb-3 pt-3">
                        <div class="col-md-12">
                            <h6>8:45 - 9:00</h6>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="subject_4">المادة <span class="required">*</span></label>
                            <select id="subject_4" name="subject_4" class="form-control select2" required>
                                <option value="" selected disabled>-- فضلا اختر --</option>
                                {% for i in subjects %}
                                <option value="{{i.id}}" {% if current.3.subject.id == i.id %}selected{% endif %}>{{i.name}}</option>
                                {% endfor %}
                                {% if current.3.subject == None %}
                                <option value="Free" selected>لا يوجد</option>
                                {% else %}
                                <option value="Free">لا يوجد</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="teacher_4">المعلم/ة <span class="required">*</span></label>
                            {% if current.3.subject == None %}
                            <select id="teacher_4" name="teacher_4" class="form-control select2">
                            {% else %}
                            <select id="teacher_4" name="teacher_4" class="form-control select2" required>
                            {% endif %}
                                {% if current.3.teacher  %}
                                <option value="{{current.3.teacher.id}}" selected>{{current.3.teacher.profile}}</option>
                                {% else %}
                                <option value="" selected disabled>-- فضلا اختر --</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="row border-bottom pb-3 pt-3">
                        <div class="col-md-12">
                            <h6>9:00 - 9:15</h6>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="subject_5">المادة <span class="required">*</span></label>
                            <select id="subject_5" name="subject_5" class="form-control select2" required>
                                <option value="" selected disabled>-- فضلا اختر --</option>
                                {% for i in subjects %}
                                <option value="{{i.id}}" {% if current.4.subject.id == i.id %}selected{% endif %}>{{i.name}}</option>
                                {% endfor %}
                                {% if current.4.subject == None %}
                                <option value="Free" selected>لا يوجد</option>
                                {% else %}
                                <option value="Free">لا يوجد</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="teacher_5">المعلم/ة <span class="required">*</span></label>
                            {% if current.4.subject == None %}
                            <select id="teacher_5" name="teacher_5" class="form-control select2">
                            {% else %}
                            <select id="teacher_5" name="teacher_5" class="form-control select2" required>
                            {% endif %}
                                {% if current.4.teacher  %}
                                <option value="{{current.4.teacher.id}}" selected>{{current.4.teacher.profile}}</option>
                                {% else %}
                                <option value="" selected disabled>-- فضلا اختر --</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 pt-3 form-group">
                        <button type="submit" class="btn btn-success form-control">إرسال</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
{% for j in time %}
$('#subject_{{j.n}}').change(function(){
    if ( this.value == 'Free' ) {
        $("#teacher_{{j.n}}").removeAttr('required');
        $("#teacher_{{j.n}} option").remove();
    } else {
        $("#teacher_{{j.n}}").attr('required', '');
        $csrf = $('[name="csrfmiddlewaretoken"]').val();
        $.ajax({
          type: "POST",
          url: "get-subject",
          data: {
            id: this.value,
            csrfmiddlewaretoken: $csrf
          },
          success: function(data) {
            var teachers = eval('(' + data + ')');
            options = "<option value='' selected disabled>--  فضلا اختر --</option>"
            for (var i = 0; i < teachers.length; i++ ){
                options += "<option value="+teachers[i].id+">"+teachers[i].name+"</option>";
            }
            $("#teacher_{{j.n}}").html(options);
          },
          error:function(e){
              alert("something wrong "+ e) // this will alert an error
          }
        });
    }
});
{% endfor %}
</script>
{% endblock %}