{% extends 'dashboard/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
				<form class="validate-form" action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="name">Name <span class="required">*</span></label>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="description">Description <span class="required">*</span></label>
                            <textarea rows="4" id="description" name="description" class="form-control" required></textarea>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-success form-control">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}