{% extends 'dashboard/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table border="1" style="width: 100%;">
                            <thead>
                                <tr class="text-center">
                                    <th scope="row"></th>
                                    <th scope="row">9AM - 10AM</th>
                                    <th scope="row">10AM - 11AM</th>
                                    <th scope="row">11AM - 12PM</th>
                                    <th scope="row">12PM - 1PM</th>
                                    <th scope="row">1PM - 2PM</th>
                                    <th scope="row">2PM - 3PM</th>
                                    <th scope="row">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="col">Saturday</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Add/Edit</td>
                                </tr>
                                <tr>
                                    <th scope="col">Sunday</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Add/Edit</td>
                                </tr>
                                <tr>
                                    <th scope="col">Monday</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Add/Edit</td>
                                </tr>
                                <tr>
                                    <th scope="col">Tuesday</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Add/Edit</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}