{% extends 'dashboard/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table border="1" style="width: 100%;" class="table table-striped">
                            <thead>
                                <tr class="text-center">

                                    <th scope="row">الإجراءات</th>
                                    {% for i in time %}
                                    <th scope="row">{{i}}</th>
                                    {% endfor %}
                                    <th scope="row">أيام الأسبوع</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                     <td>
                                        <form action="/edit-timetable" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden" name="day" value="Saturday">
                                            <button class="btn btn-sm btn-success glyphicon glyphicon-edit">إضافة/تعديل</button>
                                        </form>
                                    </td>
                                    {% for i in saturday %}
                                    {% if i.subject %}
                                    <td align='center'>
                                        <strong style='color: green;'>{{i.subject}}</strong>
                                        <br>
                                        <strong>{{i.teacher}}</strong>
                                    </td>
                                    {% else %}
                                    <td>لا يوجد</td>
                                    {% endif %}
                                    {% endfor %}
                                    <th scope="col">السبت</th>
                                </tr>
                                <tr>
                                      <td>
                                        <form action="/edit-timetable" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden" name="day" value="Sunday">
                                            <button class="btn btn-sm btn-success glyphicon glyphicon-edit">إضافة/تعديل</button>
                                        </form>
                                    </td>
                                    {% for i in sunday %}
                                    {% if i.subject %}
                                    <td align='center'>
                                        <strong style='color: green;'>{{i.subject}}</strong>
                                        <br>
                                        <strong>{{i.teacher}}</strong>
                                    </td>
                                    {% else %}
                                    <td>لا يوجد</td>
                                    {% endif %}
                                    {% endfor %}
                                   <th scope="col">الأحد</th>
                                </tr>
                                <tr>
                                     <td>
                                        <form action="/edit-timetable" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden" name="day" value="Monday">
                                            <button class="btn btn-sm btn-success glyphicon glyphicon-edit">إضافة/تعديل</button>
                                        </form>
                                    </td>
                                    {% for i in monday %}
                                    {% if i.subject %}
                                    <td align='center'>
                                        <strong style='color: green;'>{{i.subject}}</strong>
                                        <br>
                                        <strong>{{i.teacher}}</strong>
                                    </td>
                                    {% else %}
                                    <td>لايوجد</td>
                                    {% endif %}
                                    {% endfor %}
                                    <th scope="col">الأثنين</th>
                                </tr>
                                <tr>
                                      <td>
                                        <form action="/edit-timetable" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden" name="day" value="Tuesday">
                                            <button class="btn btn-sm btn-success glyphicon glyphicon-edit">إضافة/تعديل</button>
                                        </form>
                                    </td>
                                    {% for i in tuesday %}
                                    {% if i.subject %}
                                    <td align='center'>
                                        <strong style='color: green;'>{{i.subject}}</strong>
                                        <br>
                                        <strong>{{i.teacher}}</strong>
                                    </td>
                                    {% else %}
                                    <td>لا يوجد</td>
                                    {% endif %}
                                    {% endfor %}
                                  <th scope="col">الثلاثاء</th>
                                </tr>
                                <tr>
                                      <td>
                                        <form action="/edit-timetable" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden" name="day" value="Wednesday">
                                            <button class="btn btn-sm btn-success glyphicon glyphicon-edit">إضافة/تعديل</button>
                                        </form>
                                    </td>
                                    {% for i in wednesday %}
                                    {% if i.subject %}
                                    <td align='center'>
                                        <strong style='color: green;'>{{i.subject}}</strong>
                                        <br>
                                        <strong>{{i.teacher}}</strong>
                                    </td>
                                    {% else %}
                                    <td>لا يوجد</td>
                                    {% endif %}
                                    {% endfor %}
                                  <th scope="col">الأربعاء</th>
                                </tr>
                                <tr>
                                     <td>
                                        <form action="/edit-timetable" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden" name="day" value="Thursday">
                                            <button class="btn btn-sm btn-success glyphicon glyphicon-edit">إضافة/تعديل</button>
                                        </form>
                                    </td>

                                    {% for i in thursday %}
                                    {% if i.subject %}
                                    <td align='center'>
                                        <strong style='color: green;'>{{i.subject}}</strong>
                                        <br>
                                        <strong>{{i.teacher}}</strong>
                                    </td>
                                    {% else %}
                                    <td>لا يوجد</td>
                                    {% endif %}
                                    {% endfor %}
                                    <th scope="col">الخميس</th>
                                </tr>
                                <tr>
                                     <td>
                                        <form action="/edit-timetable" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden" name="day" value="Friday">
                                            <button class="btn btn-sm btn-success glyphicon glyphicon-edit">إضافة/تعديل</button>
                                        </form>
                                    </td>

                                    {% for i in friday %}
                                    {% if i.subject %}
                                    <td align='center'>
                                        <strong style='color: green;'>{{i.subject}}</strong>
                                        <br>
                                        <strong>{{i.teacher}}</strong>
                                    </td>
                                    {% else %}
                                    <td>لا يوجد</td>
                                    {% endif %}
                                    {% endfor %}
                                     <th scope="col">الجمعة</th>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}