{% extends 'dashboard/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Edit subject info</h5>
            </div>
            <div class="card-body">
				<form class="validate-form" action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
                    <div class="row">

                        <div class="col-md-3 form-group">
                            <label for="name">إسم المادة <span class="required">*</span></label>
                            <input type="text" id="name" value="{{subject.name}}" name="name" class="form-control" required>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="description">وصف المادة</label>
                            <input type="text" id="description" value="{{subject.description}}" name="description" class="form-control">
                        </div>
                            <button type="submit" class="btn btn-success form-control">إرسال</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}