{% extends 'dashboard/common_base.html' %}
{% block main %}
{% load static %}
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>تغيير كلمة السر</h2>
        </div>
        <div class="card-body">
          {% load crispy_forms_tags %}
          <form method="post" action="/change-password" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy }}
                <br><br>
              <button type="submit" class="btn btn-primary">حفظ التعديلات</button>
            </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>صورة الملف التعريفي</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <form action="/upload-image" method="POST" style="width: 100%;" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="col-md-8">
                <div class="form-group">
                  <label for="pimg">اختر صورة الملف التعريفي:</label>
                  <input type="file" name="user-img" id="pimg" class="form-control uploadFile" accept=".png, .jpg, .jpeg" required>
                  <input type="hidden" name="id" value="{{request.user.profile.id}}">
                </div>
              </div>
              <div class="col-md-4 mt-4">
                <button type="submit" class="btn btn-dark form-control">تحميل</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  var MAX_FILE_SIZE = 2048 * 1024; // 2 MB
  $(document).ready(function() {
      $('.uploadFile').change(function() {
          var fileInput = this;
          var filePath = fileInput.value;
          var allowedExtensions =  /(\.jpg|\.jpeg|\.png)$/i;
          if (!allowedExtensions.exec(filePath)) {
              fileInput.setCustomValidity("Only Images (.png, .jpg, .jpeg) are accepted");
              fileInput.reportValidity();
              return false;
          } else {
              fileInput.setCustomValidity("");
          }
          fileSize = this.files[0].size;
          if (fileSize > MAX_FILE_SIZE) {
              this.setCustomValidity("File must not exceed 2 MB!");
              this.reportValidity();
          } else {
              this.setCustomValidity("");
          }
      });
  });
</script>
{% endblock %}
