{% extends 'dashboard/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div align="right" class="col-md-12 mb-2">
                        <button class="btn btn-primary" data-target="#assignSubjectForm" data-toggle="modal">إضافة
                        </button>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped text-center" id="datatable" style="width:100%;">
                            <thead>
                            <tr>
                                <th>الإجراءات</th>
                                <th>اسم المعلم/ة</th>
                                <th>اسم المادة</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for i in assignments %}
                            <tr>
                                <td><a class="btn btn-danger btn-sm glyphicon glyphicon-trash" href="/delete-TeacherSubjectAssign/{{i.id}}">حذف</a>
                                </td>
                                <td class="text-right">{{i.teacher}}</td>
                                <td class="text-right">{{i.subject}}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div aria-hidden="true" aria-labelledby="assignSubjectForm" class="modal fade" id="assignSubjectForm" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">تعيين معلم/ة للمادة </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" class="validate-form" enctype="multipart/form-data" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    <table style="width:100%">
                        <tr>
                            <td>
                                <label for="teacher">المعلمين/المعلمات <span class="required">*</span></label>
                                <select class="form-control select2" id="teacher" name="teachers" required>
                                    <option disabled selected value="">-- فضلا اختر --</option>
                                    {% for i in teachers %}
                                    <option value="{{i.id}}">{{i.profile.first_name}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="subject">Subject <span class="required">*</span></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-control teacherinput select2" id="subject" multiple name="subject">

                                    {% for i in subjects %}
                                    <option value="{{i.id}}">{{i.name}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">إغلاق</button>
                    <button class="btn btn-primary" type="submit">إرسال</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}